@import "tailwindcss";

@theme inline {
  --color-primary: #090040;
  --color-secondary: #471396;
  --color-tertiary: #b13bff;
  --color-quaternary: #ffcc00;

  --breakpoint-400: 400px;
}

@layer base {
  body {
    @apply bg-primary text-white;
  }

  button {
    @apply cursor-pointer duration-300;
  }

  img {
    @apply rounded-sm shadow-xl/40 shadow-tertiary;
  }
}